@-moz-viewport {width: device-width; scale:1;}
@-ms-viewport {width: device-width; scale:1;}
@-o-viewport {width: device-width; scale:1;}
@-webkit-viewport {width: device-width; scale:1;}
@viewport {width: device-width; scale:1;}

html {
    -moz-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    text-size-adjust:100%;
}

*, *::before, *::after {
 box-sizing: inherit;   
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;  
    background-color: #6e387c;
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;

}

.skip-links a {
  padding: 0.5em 0.75em;
  margin: 0 0 0 15em;
  position: absolute;
  top: -3em;

  background-color: #6e387c;

  color: #fff;
  font-size: 1.125em;
  font-weight: bold;
  text-decoration: none;
  z-index: 2;
}

.skip-links a:focus {
  top: 0;
}

.logo {
    width: 180px;
    height: auto;
    -webkit-animation: fade 2.5s ease-in forwards;
    animation: fade 2.5s ease-in forwards;
}

@-webkit-keyframes fade {
    0% { -webkit-opacity: 0; }
    100% { -webkit-opacity: 1; }
}

@keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.collapse {
    background-image: url("../images/toggle.svg");
    background-size: 6em;
    background-color: #e8cbe2; 
    position: relative;
    transition: all 100ms linear;
    width: 3em;
    height:4em;
    overflow: hidden;
    border: none;
}

.toggle {
    position: absolute;
    left: 90%;
    top: 2em;
}

.panel {
    width: 20em;
    display: none;
    float:left;
    background-color: #e8cbe2;
    color:  #6e387c;
    overflow:hidden;
    margin-left: -5em;
    padding: 1em;
   
}

.panel a {
    list-style-type: none;
    text-decoration: none;
    display: block;
    color: #6e387c;
}

.panel a:hover {
    background-color: #6e387c;
    color: white;
    overflow: hidden;
    width: 20em;
}

.js-panel {
    display: block;
    max-height: 10em;
}

.bg {
    background: #b08cc0;
    background-image: url(../images/honey3.png);
    background-repeat: repeat;
    background-size: 100px;
    height: 602px;
    width: 100%;
    z-index: -3;
}

h2 {
    text-align: center;
}

.muru {
     position: absolute;
     width: 200px;
     height: auto;
     opacity: 1;
    -webkit-transition:  opacity 1s ease-in forwards;
     transition: opacity 1s ease-in forwards;
}

.hov {
    position: absolute;
    top: 150px;
    left: -15%;
    -webkit-animation: hover 2s ease-in-out alternate infinite;
    animation: hover 2s ease-in-out alternate infinite;
    transform-origin: center;
}
    
.deus {
    position: absolute;
    width: 500px;
    height: auto;
 }

.hov2 {
    position: absolute;
    top: 80px;
    right: 100%;
    -webkit-animation:  hover 2.5s ease-in-out alternate infinite;
    animation: hover 2.5s ease-in-out alternate infinite;
    transform-origin: center;
}

.main {
    width: 50%;
    height:auto;
}

@-webkit-keyframes hover {
     0% { 
        -webkit-transform: translateY(50px);
    }
        
    100% {
       -webkit-transform: translateY(0px); 
    }
}

@keyframes hover {
     0% { 
        transform: translateY(50px);
    }
        
    100% {
       transform: translateY(0px); 
    }
}
     
.down {
    background-color: #d0b8cb;
    border-radius: 50%;
    width: 40px; 
    line-height: 40px;
    display: block;
    position: relative;
    top: -10px;
    margin: auto;
    -webkit-transition: all .1s linear;
    text-decoration: none; 
    transition: all .1s linear;
}

.down a:hover {
    background-color: #9476a2;
}

.solid2 {
    height: 7em;
    padding: 0;
    margin: 0;
    width:100%;
}

.arrow {
    width: 50%;
    height:auto;
    margin: 25% 25% -5%;
}

.solid {
    background-color:  #e8cbe2;
    overflow: hidden;
    padding: 0;
    z-index: 1;
    margin:0;
}

.par {
    background-color: #6e387c;
    overflow: hidden;
}

a img {
    height:200px;
    width: auto;
}

.lightbox {
    left: 0;
    right:0;
    top:0;
    bottom:0;   
}

.lightbox[data-state="visible"] {
    display: block;
}

.lightbox-content {
    left: 15px;
    right:15px;
    bottom:15px;
    top:15px;
    height:33em;
    border-radius: 1px;   
}

ul {
    list-style-type: none;
    margin: 0;
    -webkit-padding-start: 0;
}

.small {
    font-size: .7em;
    line-height: 1.4798;
}

/*#dead_end {
    animation: dead 700ms ease-in infinite;
}

@keyframes dead {
 
    0% {
       opacity: 0;
    }
    
    100% {
         opacity: 1;
    }
} Used for assignment 8 */ 

#dead_end {
    opacity: 0;
}

.js-active #dead_end {
    opacity: 1;
}

.social {
    width: 50px;
}

.social-p {
     text-align: right;
     float: right;
     margin-top: -8em;
     padding-right: 2em;
}

@media only screen and (min-width: 20em) {
    
    .muru {
        position: absolute;
        width: 200px;
        height: auto;
    }
    
    .hov {
        top: 150px;
        left: -10%;
    }
 
    .deus {
        position: absolute;
        width: 500px;
        height: auto;
    }
    
    .hov2 {
        top: 70px;
        right: 100%;
    }
    
    #images {
        height:200px;
        margin-left: -15em;
        
}
    
@media only screen and (min-width: 40em) {
    .logo {
        width: 200px;
        height: auto;
        -webkit-animation: fade 2.5s linear; 
        animation: fade 2.5s linear;
    }
    
     .muru {
        position: absolute;
        width: 200px;
        height: auto;
        -webkit-animation: fly 2.5s ease-in forwards;
        animation: fly 2.5s ease-in forwards;
        transform-origin: center;
     }
    
    @-webkit-keyframes fly {
   
        10% { 
            transform: translatex(-20em);
        }
        
        100% {
            transform: translatex(50px);
       
        }
    } 
    
     @keyframes fly {
   
        10% { 
            transform: translatex(-20em);
        }
        
        100% {
            transform: translatex(50px);
       
        }
    } 
    
    .hov {
        top: 150px;
        left: -5%;
    }
    
    .deus {
        position: absolute;
        width: 600px;
        height: auto;
        -webkit-animation: fly2 3s ease-in-out forwards;
        animation: fly2 3s ease-in-out forwards;
        transform-origin: center;
    }
 
    @-webkit-keyframes fly2 {
        0% { 
            -webkit-transform: translateX(100em);
        }   
    
        100% {
            -webkit-transform: translateX(30px)
        }
    }
     
    @keyframes fly2 {
        0% { 
            transform: translateX(100em);
        }
        
        100% {
            transform: translateX(30px)
        }
    }
    
    .hov2 {
        right:70%;
        top: 80px;
        }
}
    
    #images {
        height:600px;
        margin-left: -2em;
        
    }
    
@media only screen and (min-width: 60em) {
    .muru {
        position: absolute;
        width: auto;
        height: 15em;
        padding-left: 10em;
        -webkit-animation: fly 2.5s ease-in forwards;
        animation: fly 2.5s ease-in forwards;
        transform-origin: center;
      }
    
  .deus {
        position: absolute;
        width: 700px;
        height: auto;
        -webkit-animation: fly2 3s ease-in-out forwards;
        animation: fly2 3s ease-in-out forwards;
        transform-origin: center;
    }
    
    .hov2 {
        right:50%;
        top: 60px;
    }

}

@media only screen and (min-width: 90em) {
    
    .hov {
        top: 100px;
        left: -5%;
    }

    
}