@-moz-viewport {width: device-width; scale:1;}
@-ms-viewport {width: device-width; scale:1;}
@-o-viewport {width: device-width; scale:1;}
@-webkit-viewport {width: device-width; scale:1;}
@viewport {width: device-width; scale:1;}

html {
    box-sizing: border-box;
    
    -moz-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    text-size-adjust:100%;
}

*, *::before, *::after {
 box-sizing: inherit;   
}

body {
    background: #cc89ff;
    background-image: url(../images/honey2.png);
    background-size: 100px;

}

.logo {
    position: absolute;
    width: 250px;
    height: auto;
    animation: fade 2.5s linear;
}

@keyframes fade {
    0% {
        transform: opacity;
        opacity: 0
    
    }
    
    100% { 
        transform: opacity;
         opacity: 1
    }
}

.down {
    background-color: purple;
    border-radius: 50%;
    width: 6em; 
    line-height: 6em;
    display: inline-block;
    text-align: center;
    text-decoration: none; 
    margin: 0 1.4em;
}



@media only screen and (min-width: 20em) {


    .muru {
        position: absolute;
        width: 200px;
        height: auto;
        left: 30px;
        top: 200px;
        animation: hover 2s ease-in-out alternate infinite;
        transform-origin: center;
    }
    
    @keyframes hover {
     0% { 
        transform: translateY(50px);
    }
        
    100% {
       transform: translateY(0px); 
    }
    

    .deus {
        position: absolute;
        width: 10px;
        height: auto;
        left: 30px;
        top: 800px;
    }
        
@keyframes ex {
     0% { 
        transform: translateY(5%);
    }
        
    50% {
       transform: translateY(0%); 
    }
        
    100% { 
        transform: translateY(5%);
    }

}
    
@media only screen and (min-width: 40em) {
    
    .logo {
        position: absolute;
        width: 300px;
        height:100px;
        top: auto;
    }
  
    .deus {
        position: absolute;
        width: 450px;
        height: auto;
        left: 30px;
        top: 800px;
    }
}
    
@media only screen and (min-width: 60em) {

}

@media only screen and (min-width: 90em) {
    
}

