@-moz-viewport {width: device-width; scale:1;}
@-ms-viewport {width: device-width; scale:1;}
@-o-viewport {width: device-width; scale:1;}
@-webkit-viewport {width: device-width; scale:1;}
@viewport {width: device-width; scale:1;}

html {
    -moz-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    text-size-adjust:100%;
}

*, *::before, *::after {
 box-sizing: inherit;   
}

body {
    margin: 0;
    padding: 0;
     overflow-x: hidden;  
}

.logo {
    width: 180px;
    height: auto;
    -webkit-animation: fade 2.5s ease-in forwards;
    animation: fade 2.5s ease-in forwards;
}

@-webkit-keyframes fade {
    0% { -webkit-opacity: 0; }
    100% { -webkit-opacity: 1; }
}

@keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.collapse {
    background: transparent url("../images/toggle.svg") center;
    background-repeat: no-repeat;
    background-color: #e8cbe2; 
    position: relative;
    transition: all 100ms linear;
    height: 5em;
    width: 3em;
    overflow: hidden;
    border: none;
    position: relative;  
}

.toggle {
    position: absolute;
    left: 85%;
    top: 2em;
}

.panel {
    width: 100%;
    display: none;
    background-color: #e8cbe2;
    color:  #6e387c;
    text-align: center;
    overflow: hidden;
}

.js-panel {
    display:block;
    max-height: 10em;
}

.bg {
    background: #b08cc0;
    background-image: url(../images/honey3.png);
    background-repeat: repeat;
    background-size: 100px;
    height: 602px;
    width: 100%;
    z-index: -3;
}

.solid {
    background-color:  #e8cbe2;
    overflow: hidden;
    padding: 0;
    z-index: -3;
    margin:0;
}

h2 {
    text-align: center;
}

.muru {
     position: absolute;
     width: 200px;
     height: auto;
     opacity: 1;
    -webkit-transition:  opacity 1s ease-in forwards;
     transition: opacity 1s ease-in forwards;
}

.hov {
    position: absolute;
    top: 150px;
    left: -15%;
    -webkit-animation: hover 2s ease-in-out alternate infinite;
    animation: hover 2s ease-in-out alternate infinite;
    transform-origin: center;
}
    
.deus {
    position: absolute;
    width: 500px;
    height: auto;
 }

.hov2 {
    position: absolute;
    z-index: -1;
    top: 80px;
    right: 100%;
    -webkit-animation:  hover 2.5s ease-in-out alternate infinite;
    animation: hover 2.5s ease-in-out alternate infinite;
    transform-origin: center;

}

@-webkit-keyframes hover {
     0% { 
        -webkit-transform: translateY(50px);
    }
        
    100% {
       -webkit-transform: translateY(0px); 
    }
}

@keyframes hover {
     0% { 
        transform: translateY(50px);
    }
        
    100% {
       transform: translateY(0px); 
    }
}
     
.down {
    background-color: #d0b8cb;
    border-radius: 50%;
    width: 40px; 
    line-height: 40px;
    display: block;
    position: relative;
    top: -10px;
    margin: auto;
    text-decoration: none; 
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}

.solid2 {
    position: absolute;
    height: 15em;
    background-color:  #e8cbe2;
    overflow: hidden;
    padding: 0;
    top: 35em;
    margin: 0;
    width:100%;
}

.down a:hover {
    background-color: #9476a2;
}

.name {
    border: none;
    background-color: #6e387c;
    display:block;
    font-size: .5em;   
}

.arrow {
    width: 50%;
    height:auto;
    margin: 25% 25% -5%;
}

.par {
    background-color: #6e387c;     
}

.img {
    height:300px;
    width: auto;
}

.img-container {
    background-color: white;
    height:300px;
    width: auto;
}

.img-content {
    position: absolute;
    top: 15px;
}

.main {
    width: 50%;
}

.img1-show {
    left: 100em;
    top: calc(50% - 40px);
    background-color: hotpink;
    transition: all 200ms linear;
}

.show1 {
    right: 2em;
}

@media only screen and (min-width: 20em) {
    
    .muru {
        position: absolute;
        width: 200px;
        height: auto;
    }
    
    .hov {
        top: 150px;
        left: -10%;
    }
 
 .deus {
        position: absolute;
        width: 500px;
        height: auto;
    }
    
 .hov2 {
      top: 70px;
      right: 100%;
    }

    
@media only screen and (min-width: 40em) {
    .logo {
        width: 200px;
        height: auto;
        -webkit-animation: fade 2.5s linear; 
        animation: fade 2.5s linear;
    }
    
     .muru {
        position: absolute;
        width: 200px;
        height: auto;
        -webkit-animation: fly 2.5s ease-in forwards;
        animation: fly 2.5s ease-in forwards;
        transform-origin: center;
     }
    
    .hov {
        top: 150px;
        left: -5%;
    }
    
    .deus {
        position: absolute;
        width: 500px;
        height: auto;
        -webkit-animation: fly2 3s ease-in-out forwards;
        animation: fly2 3s ease-in-out forwards;
        transform-origin: center;
    }
 
    @-webkit-keyframes fly2 {
        0% { 
            -webkit-transform: translateX(100em);
        }   
    
        100% {
            -webkit-transform: translateX(30px)
        }
    }
     
    @keyframes fly2 {
        0% { 
            transform: translateX(100em);
        }
        
        100% {
            transform: translateX(30px)
        }
    }
    
    .hov2 {
        right:70%;
        top: 80px;
        }
}
    
@media only screen and (min-width: 60em) {
    .muru {
        position: absolute;
        width: auto;
        height: 5em;
        padding-left: 10em;
        -webkit-animation: fly 2.5s ease-in forwards;
        animation: fly 2.5s ease-in forwards;
        transform-origin: center;
      }
    
    @keyframes fly {
   
        10% { 
            transform: translatex(-20em);
        }
        
        100% {
            transform: translatex(50px);
       
        }
    } 

  .deus {
        position: absolute;
        width: 500px;
        height: auto;
        -webkit-animation: fly2 3s ease-in-out forwards;
        animation: fly2 3s ease-in-out forwards;
        transform-origin: center;
    }
    
    .hov2 {
        right:40%;
        top: 60px;
    }

    .solid2 {
        position: absolute;
        height: 15em;
        background-color:  #e8cbe2;
        overflow: hidden;
        padding: 0;
        top: 33em;
        margin: 0;
        width:100%;
    }
}

@media only screen and (min-width: 90em) {
    
    .hov {
        top: 100px;
        left: -5%;
    }
 
  .deus {
        position: absolute;
        width: 500px;
        height: auto;
        animation: fly2 3s ease-in-out forwards;
        transform-origin: center;
    }
    
}

